/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);
  font-size: 20px;
  line-height: 1.75;
  font-weight: 400;

  h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

// TODO: redefine content layout.


/******************************************************************************
 * Publications
 ******************************************************************************/

.publications {
  margin-top: 0.75rem;

  .row {
    margin-bottom: 1.75rem;
  }

  .title {
    font-size: 1.14rem;
    line-height: 1.55;
    margin-bottom: 0.3rem;
    font-weight: 400;
  }

  .author,
  .periodical,
  .links {
    font-size: 1.02rem;
    line-height: 1.65;
  }

  .author {
    margin-bottom: 0.2rem;
  }

  .periodical {
    color: var(--global-text-color-light);
  }

  .links {
    margin-top: 0.45rem;
  }
}


/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
